﻿html, body {
    height: 100%;
    width: 100%;
}
html {
    overflow-y: scroll;
    font-size: 14px;
    line-height: 21px;
}
body {
    margin: 0;
}
main {
    min-height: 100%;
    margin-bottom: -21px;
}
main:after {
    content: '';
    display: block;
    height: 21px;
}
.row, .table-row {
    margin: 0 -0.75em;
}
[class *= "col"] {
    padding: 0 0.75em;
    display: inline-block;
    vertical-align: top;
}
.col-10 {
    width: 10%;
}
.col-20 {
    width: 20%;
}
.container {
    width: 100%;
    padding: 0 0.75em;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.text-center {
    text-align: center;
}
.child {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #fefefe;
}
ul {
    padding: 0;
}
.list-unstyled {
    list-style: none;
    text-align: left;
}
.col-75 {
    width: 75%;
}
.col-25 {
    width: 25%;
}
.table-col {
    display: inline-block;
}
.col-78 {
    width: 78%;
}
.col-13 {
    width: 13%;
}
[menu-trigger] {
    cursor: pointer;
    position: relative;
}
.col-22 {
    width: 22%;
}
.login-form label {
    display: inline-block;
    margin-bottom: 5px;
    width: 25%;
}
.login-form input {
    width: 75%;
}
.login-form {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}
.col-100, .full-width {
    width: 100%:
}
.mg-sm {
    margin-bottom: 10px;
}
.mg-md {
    margin-bottom: 20px;
}
.mg-lg{
    margin-bottom: 30px;
}
.nav {
    margin-top: 20px;
}