﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addGroup</title>
</head>
<body>
    <div>
        <h3>Создание адаптера</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><input type="hidden" name="AdapterId" /> </td>
                </tr>
                <tr>
                    <td><p>Номер группы </p></td>
                    <td><input type="text" name="GroupId" /> </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
