﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>createAdapter</title>
</head>
<body>
    <div>
        <h3>Создание адаптера</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Фамилия </p></td>
                    <td><input type="text" name="Surname" /> </td>
                </tr>
                <tr>
                    <td><p>Имя </p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Логин </p></td>
                    <td><input type="text" name="Username" /> </td>
                </tr>
                <tr>
                    <td><p>Пароль </p></td>
                    <td><input type="password" name="Password" /> </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
