﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список пользователей</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td><h2>Администраторы</h2></td>
            </tr>
            <tr>
                <td><p>Фамилия</p></td>
                <td><p>Имя</p></td>                
                <td><p>Почта</p></td> 
                <td><p>Логин</p></td> 
                <td><p>Id</p></td>
            </tr>
            @foreach (var b in ViewBag.Admins)
            {
                <tr>
                    <td><p>@b.Surname</p></td>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Email</p></td>
                    <td><p>@b.Username</p></td>
                    <td><p>@b.UserId</p></td>
                </tr>                           
            }
            <tr><td><td><p><a href="/Home/createAdmin">Добавить администратора</a></p></td></td></tr>
            <tr>
                <td><h2>Адаптеры</h2></td>
            </tr>
            <tr>
                <td><p>Фамилия</p></td>
                <td><p>Имя</p></td>
                <td><p>Рейтинг</p></td>
                <td><p>Текущие баллы</p></td>
                <td><p>Логин</p></td>
                <td><p>Id</p></td>
            </tr>
            @foreach (var b in ViewBag.Adapters)
            {
                <tr>
                    <td><p>@b.Surname</p></td>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Points</p></td>
                    <td><p>@b.Money</p></td>
                    <td><p>@b.Username</p></td>
                    <td><p>@b.UserId</p></td>
            <!--еще показывать список групп, как - не знаю :)-->
                    <td><td><p><a href="/Home/addGroup/@b.UserId">Добавить группу</a></p></td></td></tr>
            }
            <tr><td><td><p><a href="/Home/createAdapter">Добавить адaтера</a></p></td></td></tr>
            <tr>
                <td><h2>Студенты</h2></td>
            </tr>
            <tr>
                <td><p>Фамилия</p></td>
                <td><p>Имя</p></td>
                <td><p>Логин</p></td>
                <td><p>Id</p></td>
                <td><p>Группа</p></td>
            </tr>
            @foreach (var b in ViewBag.Students)
            {
                <tr>
                    <td><p>@b.Surname</p></td>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Username</p></td>
                    <td><p>@b.UserId</p></td>
                    <td><p>@b.Group</p></td>
                </tr>
            }
            <tr><td><td><p><a href="/Home/createStudent">Добавить студента</a></p></td></td></tr>
        </table>
    </div>
</body>
</html>