﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../Content/Site.css" />
    <title>Список пользователей</title>
</head>
<body>
    <main>
        <div class="container mg-md nav">
            <div class="row">
                <div class="col-20">
                    <div menu-trigger>
                        <span>Рейтинг адаптеров</span>
                        <div class="child">
                            <ul class="list-unstyled">
                                <li>Добавить участника</li>
                                <li>Удалить участника</li>
                                <li>Изменить участника</li>
                            </ul>
                        </div>
                    </div>
                </div><!--
                --><div class="col-20 text-center">
                    <span>Магазин</span>
                </div><!--
                --><div class="col-20 text-center">
                    <span>Справка</span>
                </div>
            </div>
        </div>
        <div class="full-width mg-md">
            <div style="background: linear-gradient(to right, white, blue); height: 200px;">А СЮДА ХОЧУ КАРТИНКУ</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-78">
                    <div class="table">
                        <div class="table-head">
                            <div class="table-row">
                                <div class="table-col col-13">Фамилия</div><!--
                                --><div class="table-col col-13">Имя</div><!--
                                --><div class="table-col col-13">Рейтинг</div><!--
                                --><div class="table-col col-13">Деньги</div><!--
                                --><div class="table-col col-13">Логин</div><!--
                                --><div class="table-col col-13">Ид</div>
                            </div>
                        </div>
                        <div class="table-body">
                            @foreach (var a in ViewBag.Adapters)
                            {
                                <div class="table-row">
                                    <div class="table-col col-13">@a.Surname</div><!--
                                    --><div class="table-col col-13">@a.Name</div><!--
                                    --><div class="table-col col-13">@a.Points</div><!--
                                    --><div class="table-col col-13">@a.Money</div><!--
                                    --><div class="table-col col-13">@a.Username</div><!--
                                    --><div class="table-col col-13">@a.UserId</div>
                                </div>
                            }
                        </div>
                    </div>
                </div><!--
                --><div class="col-22">
                    <form class="login-form">
                        <label for="login">Логин</label><input type="text" id="login" name="login" />
                        <label for="password">Пароль</label><input type="password" name="password" id="password" />
                        <button type="submit">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="container">
        <div class="row">
            <div class="col-100">
                Дронникова Светлана © Все права защищены.
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="//yastatic.net/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[menu-trigger]').click(function () {
                var that = $(this);
                that.parent().find('.child').animate({
                    height: 'toggle'
                }, 300);
            });
        });
    </script>

</body>
</html>
